.body {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: white;
}
.container {
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: coral;
    border-radius: 50%;
    position: relative;
}
.container::before {
    content: "";
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 50%;
    background-color: coral;
    z-index: -1;
    animation: move 1.2s ease infinite;
}
@keyframes move {
    to {
        transform: scale(1.5);
        opacity: 0;
    }
}
.holder {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    justify-content: center;
}
button { 
    border: none;
    padding: 15px;
    width: 200px;
    font-size: 20px;
    color: #fff;
    position: relative;
}
.btn-1 {
    background-color: #000;
}
.btn-1::before {
    content: 'JOKING!';
    width: 100%;
    height: 0%;
    position: absolute;
    background-color: purple;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    top: 0;
    left: 0;
    overflow: hidden;
}
.btn-1::after {
    content: "DON'T WORRY!";
    width: 100%;
    height: 0%;
    position: absolute;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    left: 0;
    bottom: 0;
    overflow: hidden;
}
.btn-1:hover.btn-1::before {
    animation: retrive 1s 1 reverse both;
}
.btn-1:hover.btn-1::after {
    animation: retrive 1s 1s 2 alternate both;
}
@keyframes retrive {
    from {
        height: 0%;
    }
    to {
        height: 100%;
    }
}
/* .box {
    animation-name: example;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
@keyframes example {
    20% {
        width: 130px;
    }
    50% {
        width: 160px;
    }
    100% {
        width: 320px;
    }
} */